<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD05ft4gy9ZE2IyLX9BpI-3sfsUHm2YkjY</string>
	<key>GCM_SENDER_ID</key>
	<string>555830333520</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mangloov.one</string>
	<key>PROJECT_ID</key>
	<string>manglootools</string>
	<key>STORAGE_BUCKET</key>
	<string>manglootools.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:555830333520:ios:0db03bf34b45e913288155</string>
</dict>
</plist>